@import '../../styles/guide-style.scss';

:host {
  display:block;
}

paper-toolbar {
  background-color: $primary-color-dark;
  color: #fff;

  .kazoup-logo {
    position: relative;
    left: 12%;
    font-weight: 900;
    font-size: 22px;
    top: 5px;
  }

  .kazoup-logo::before {
    width: 60px;
    height: 60px;
    content: "";
    display: inline-block;
    background-image: url(/static/images/kazoup-plain-logo.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    position: relative;
    top: 16px;
  }
  .email {
    font-size: .72em;
    margin-top: 15px;
    overflow: hidden;
  }
}

paper-menu.kazoup-menu {
  padding: 0;
  background-color: $primary-color-darkish;
  color: #fff;

  paper-item {
    cursor: pointer;
    min-height: 40px;

    .paper-item-background {
      width: 254px;
      height: 40px;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 9999;
      background: $primary-color-darkish;

      span {
        line-height: 40px;
        margin-left: 12px;
      }
    }
  }

  paper-item[aria-selected="true"] {
    color: $accent-color !important ;
    border-left: 2px solid $accent-color !important;

    .paper-item-background {
      background: rgb(30,34,40);

      span {
        margin-left: 10px;
      }
    }
  }

  .divider-menu {
    border-bottom: 1px solid rgba(255,255,255,.05);
    border-top: 1px solid rgba(0,0,0,.2);
    display: block;
    height: 0;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
