@import '../../styles/guide-style.scss';

:host {
  display:block;
}

.brush-slider-container {
  width: 100%;
  position: absolute;
  bottom: -5px;
  height: 55px;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease-in;
  -moz-transition: opacity 0.6s ease-in;
  -o-transition: opacity 0.6s ease-in;
  -ms-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;

  .arrow {
    width: 25px;
    height: 25px;
    color: $accent-color;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    z-index: 9999;

    iron-icon {
      svg {
        position: relative;
      }
    }
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }

  svg {
    position: absolute;

    g.brush {
      g.w,
      g.e {
        path {
          fill: #06AFDB;
        }
      }

      rect.extent {
        fill: #eee;
        opacity: 0.4;
      }
    }

    g.axis {
      .tick {
        text {
          font-size: 0.7em;
          opacity: 0.6;
          color: rgb(68, 68, 68);
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
      }
    }

    g.previous,
    g.next {
      .arrow {
        fill: #06AFDB;
        cursor: pointer;
      }
    }

    rect.background-rect {
      opacity: 0.6;
    }

    path.domain {
      stroke: 1px;
      fill-opacity: 0;
    }
  }
}

.brush-slider-container.hidden {
  visibility: hidden;
  height: 0;
  opacity: 0;
}

