@import '../../styles/guide-style.scss';

:host{
  display:block;

  paper-toolbar {
    position: fixed;

    .indent {
      margin-left: 42px;
      font-size: 1.2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .more-info-icon {
      position: fixed;
      right: 18px;
      top: 20px;
    }
  }

  paper-fab {
    position: fixed;
    top:100px;
    right: 16px;
    background-color: #DA1E33 !important;
    z-index: 9999;
  }

  .container {
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;

    paper-audio-player {
      margin: 16px 0;
    }

    .detail {
      padding: 0;
      margin:0;
      width: 100%;
      height: 300px;
    }

    #fileDetails {
      margin-top: 20px;
      padding: 16px;

      div {
        padding: 15px 0;

        .location-label {
          width: 30%;
        }

        .location-info {
          text-align: right;
          width: 70%;
          word-wrap: break-word;
        }
      }
    }

    #fileDetails.portrait {
      position: fixed;
      top: 128px;
      right: 0;
      width: 260px;
      background-color: #fff;
      padding: 10px;
      margin: 0;
      height: 100%;
      border-left: 1px solid $divider-color;
      transition: width 0.4s;

      .location-label {
        width: 85px;
      }

      core-tooltip {
        width: 130px;
      }
    }

    #fileDetails.portrait.close {
      width: 0;
      padding: 0;
    }

    object {
      width: 100%;
    }

    object::-webkit-scrollbar {
      display: none;
    }
  }

  .container.mobile {
    top: 56px;
  }
}
