@import '../../styles/guide-style.scss';

:host {
  display: block;

  .container {
    iron-image {

      ::content img#img {
        width: 115px !important;
        height: 112px !important;
      }
    }
  }
}
