@import '../../styles/guide-style.scss';

:host {
  display: block;
}

paper-dialog {
  width: 350px;
  z-index: 9999;

  paper-tabs {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: $accent-color;
  }

  neon-animated-pages {
    height: 100px;
    margin: 0;
    padding: 0;

    neon-animatable {
      color: $accent-color;

      div {
        padding: 0 15px 15px 15px;

        p {
          margin: 0 0 5px;
          height: 45px;

          span {
            margin-right: 5px;
            display: inline-block;
            width: 50px;
            font-size: 1.1em;
          }

          paper-input-container {
            width: 120px;
            display: inline-block;
          }

          paper-input-container.day,
          paper-input-container.month {
            width: 60px;
          }

          paper-input-container.year {
            width: 120px;
          }

          paper-dropdown-menu {
            width: 130px;
            display: inline-block;
          }
        }
      }
    }
  }

  paper-button {
    height: 40px;
    line-height: 40px;
  }
}

paper-dialog.mobile-device {
  neon-animated-pages {
    height: 100px;
    margin: 0;
    padding: 0;

    neon-animatable {
      div {
        padding: 0 7px 7px 7px;

        p {
          margin: 0 0 5px;
          height: 45px;

          paper-input-container {
            width: 45px;
            display: inline-block;
          }

          paper-input-container.day,
          paper-input-container.month {
            width: 40px;
          }

          paper-input-container.year {
            width: 70px;
          }

          paper-dropdown-menu {
            width: 105px;
            display: inline-block;
          }
        }
      }
    }
  }

  paper-button {
    width: 100px;
    margin-bottom: 5px;
  }
}

