@import '../../styles/guide-style.scss';

:host {
  display: inline-block;
  width: 100%;
}

#crumbs {
  overflow: hidden;
  height: 40px;
  width: 100%;

  .collapse {
    height: 15px;
    width: 25px !important;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }

  .label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    cursor: pointer;
    overflow: hidden;
    height: 15px;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: #fafafa;
      opacity: 0.9;
    }
  }

  .label:last-of-type {
    a {
      color: #fff;
      opacity: 1;
    }
  }

  a[disabled] {
    pointer-events: none;
  }

  iron-icon {
    opacity: 0.9;
    cursor: pointer;
  }

  iron-selector iron-icon:last-of-type {
    display: none !important;
  }
}

/* paper-toolbar breakpoints, fit our container  */
@media (min-width: 900px) {
  #crumbs {
    width: calc(100% - 256px);
  }
}


