@import '../../styles/guide-style.scss';

:host {
  display: block;
}

:host::content paper-dialog {
  max-width: 500px !important;
  z-index: 9999 !important;

  h2 {
    color: #444;
    font-weight: 600 !important;
  }

  section {
    font-size: 1.2em;
    margin-top: 0;
    padding: 0 24px 10px;
    color: #444;

    p {
      margin-bottom: 25px;
    }

    paper-checkbox {
      padding: 8px 20px 20px 20px;
    }
  }

}
