$primary-color-dark:     #3A424E; /* left menu */
$primary-color-darkish:  #252A32; /* left menu clearer $primary-color-dark */
$primary-color:          #1EB3DA; /* top header */
$primary-color-text:     rgba(255, 255, 255, 0.9);  /* text on dark and icons */
$accent-color:           #1EB3DA; /* blue */
$primary-text-color:     #191817; /* list text first line and all default text */
$secondary-text-color:   #6F757C; /* list text second line */
$divider-color:          rgba(0,0,0,0.1); /* divider lines and borders */
