@import '../../styles/guide-style.scss';

:host{
  display:block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;


  h3 {
    text-transform: uppercase;
    font-size: 1.6em;
  }

  h3,
  p {
    text-stroke: 0;
    -webkit-text-stroke: 0;
    -ms-text-stroke: 0;
    -moz-text-stroke: 0;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.75);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    text-shadow: rgba(255,255,255,0.5) 0 2px 3px, rgba(255,255,255,0.2) 3px 3px 3px;
    transition: text-shadow .1s ease-out, background-color .2s ease-out;
    -webkit-transition: text-shadow .1s ease-out, background-color .2s ease-out;
    -ms-transition: text-shadow .1s ease-out, background-color .2s ease-out;
    -moz-transition: text-shadow .1s ease-out, background-color .2s ease-out;
    opacity: 0.7;
  }

  iron-icon {
    opacity: 0.7;
  }

  a {
    font-weight: bold;
    color: $accent-color;
    text-decoration: none;
  }

  .icon-size {
    width: 128px;
    height: 128px;
  }
}

@-moz-document url-prefix() {
  .container {
    h3,
    p {
      background-color: #fff;
      color: inherit;
    }
  }
}

