@import '../../styles/guide-style.scss';

:host {
  display: block;
}

:host::content neon-animated-pages {
  neon-animatable {
    paper-toolbar {
      position: absolute;
      width: 100%;
      z-index: 9998;

      .placeholder {
        position: absolute;
        top: 19px;
        left: 45px;
        white-space: nowrap;
      }

      .actions {
        display: inline-flex;
        position: absolute;
        right: 0;
        top: 8px;

        kazoup-search-sorting {
          display: inline;
        }
      }

      paper-icon-button.arrow-back {
        position: absolute;
        top: 8px;
        left: 5px;
      }

      .search-box {
        min-height: 42px;

        ::-webkit-input-placeholder {
          color: #fff;
          opacity:  0.8;
        }

        :-moz-placeholder {
          color: #fff;
          opacity:  0.8;
        }

        ::-moz-placeholder {
          color: #fff;
          opacity:  0.8;
        }

        :-ms-input-placeholder {
          color: #fff;
          opacity:  0.8;
        }

        :placeholder-shown {
          color: #fff;
          opacity:  0.8;
        }

        iron-icon {
          position: absolute;
          margin: 9px;
          color: #333;
        }

        input {
          font: inherit;
          margin: 0 0 0 50px;
          padding: 0;
          background-color: transparent;
          border: 0;
          outline: none;
          color: #fff !important;
        }

        .checksum-label {
          padding: 3px 3px 3px 13px;
          margin: 5px 5px 0 35px;
          border-radius: 40px;
          background-color: $accent-color;
          color: rgba(255, 255, 255, 0.9);
          height: 25px;
          overflow: hidden;
          font-size: 0.85em;

          iron-icon {
            position: relative;
            top: -9px;
            color: #fff;

            svg {
              width: auto !important;
            }
          }
        }
      }
    }

    .container {
      paper-drawer-panel {
        #drawer {
          z-index: 9999;
        }

        paper-header-panel {
          paper-toolbar {
            background-color: #06AFDB;

            #topBar {
              float: right;
            }
          }

          kazoup-search-filters {
            height: calc(100% - 56px);
            overflow-y: scroll;
            border-left: 1px solid $divider-color;
          }
        }

        paper-scroll-header-panel {
          top: 56px;

          kazoup-empty-state {
            position: absolute;
            top: 15px;
            width: 100%;
          }

          iron-list {
            margin-bottom: 56px;

            .row {
              min-height: 50px;
              border-bottom: 1px solid $divider-color;
              overflow: hidden;

              iron-image,
              .icon {
                zoom: 0.75;
                margin: 0 25px;
              }

              left-swipe-action {
                background-color: #EBEBEB;
                width: calc(100% - 65px);

                left-swipe-action-button {
                  padding: 0 !important;

                  > div {
                    .action {
                      width: 50px;
                      height: 50px;
                      text-align: center;

                      paper-icon-button {
                        opacity: 0.65;
                      }

                      #duplicatesIcon {
                        padding-right: 0;
                      }
                    }
                  }
                }
              }

              .info {
                padding: 10px 15px 10px 0;
                overflow: hidden;

                h4 {
                  margin: 0 0 5px;
                  padding: 0;
                  font-size: 0.85em;
                  font-weight: 400;
                  color: #191817;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                p {
                  margin: 0;
                  font-size: .775em;
                  font-weight: 400;
                  color: #6F757C;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }
  }
}

paper-dialog {
  max-width: 500px !important;

  h2,
  p,
  paper-button {
    color: #444;
  }

  paper-button {
    height: 40px;
    line-height: 40px;
  }

  paper-button[dialog-dismiss] {
    margin-left: 22px;
  }
}


/* paper-toolbar breakpoints, fit our container  */
@media (min-width: 600px) {
  neon-animated-pages {
    neon-animatable {
      .container {
        paper-drawer-panel {
          paper-header-panel {
            kazoup-search-filters {
              height: calc(100% - 64px);
            }
          }

          paper-scroll-header-panel {
            top: 64px;
          }
        }
      }
    }
  }
}
