@import '../../styles/guide-style.scss';

:host {
  display: block;
}

.container {
  display: inline;

  iron-dropdown {
    margin-top: 32px;

    .dropdown-content {
      background-color: #fff;
      border: 1px solid $divider-color;

      paper-item {
        cursor: pointer;
        color: #444;
      }

      paper-item.active {
        background-color: $divider-color;
      }
    }
  }
}



