@import '../../styles/guide-style.scss';

:host {
  display: block;
}

kazoup-empty-state {
  margin-top: 50px;
}

iron-list {
  overflow: visible;

  .row {
    min-height: 60px;
    border-bottom: 1px solid $divider-color;

    .policy-icon {
      display: flex;
      justify-content: center;

      iron-icon {
        align-self: center;
        margin: 0 21px;
        height: 28px;
        width: 28px;
      }
    }

    .policy {
      h4 {
        padding: 0;
        margin: 8px 0;
        font-weight: 500;
        font-size: .95em;
        word-wrap: break-word;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: .85em;
        font-weight: 400;
        color: #6F757C;
        word-wrap: break-word;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      padding-right: 15px;

      .progress {
        width: 70px;
        height: 4px;
        display: block;
        align-self: center;
      }

      iron-icon {
        opacity: 0.9;
        align-self: center;
      }
    }
  }
}

paper-dialog {
  max-width: 500px !important;

  h2,
  p,
  paper-button {
    color: #444;
  }

  paper-button {
    height: 40px;
    line-height: 40px;
  }

  paper-button[dialog-dismiss] {
    margin-left: 22px;
  }
}

@media (max-width: 600px) {
  iron-list {
    .row {
      .policy {
        div {
          display: flex;
          justify-content: center;

          h4 {
            align-self: center;
          }

          p {
            display: none;
          }
        }
      }
    }
  }
}


