@import '../../styles/guide-style.scss';

:host {
  display: block;
}

:host::content paper-toolbar {
  z-index: 9998;

  #topBar {
    padding-right: 0;
  }

  .directory {
    overflow: hidden;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  iron-icon#go-to-search-icon {
    margin: 0 5px 0 5px;
  }

  iron-icon#more-icon {
    margin-right: -8px;
  }
}

.container {
  paper-drawer-panel {
    /* Right top toolbar */
    paper-toolbar {
      z-index: 9999;
      background-color: #06AFDB;

      .ripple-container {
        position: relative;
        left: 100px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        box-sizing: border-box !important;
        text-align: center;

        svg {
          margin-top: 5px;
        }
      }

      kazoup-download-report {
        position: relative;
        left: 100px;
      }
    }

    /* Right filters menu (dimensions / views) */
    kazoup-analytics-filters-menu {
      height: calc(100% - 56px);
      overflow-y: scroll;
      position: relative;
      border-left: 1px solid $divider-color;
    }

    /* Main analytics panel */
    .analytics-main-panel {
      height: calc(100% - 56px);
      width: 100%;
      position: absolute;
      top: 56px;

      /* Analytics filters*/
      .filters {
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        display: inline-flex;
        background-color: rgba(30, 179, 218, 0.08);
        border-bottom: 1px solid $divider-color;
        position: absolute;
        width: 100%;

        kazoup-analytics-filters {
          width: 100%;
        }
      }

      .main-chart {
        height: calc(100% - 40px);

        kazoup-d3-charts {
          position: relative;
          top: 40px;
          bottom: 0;
        }
      }
    }
  }
}

/* paper-toolbar breakpoints, fit our container  */
@media (min-width: 600px) {
  .container {
    paper-drawer-panel {
      /* Right filters menu (dimensions / views) */
      kazoup-analytics-filters-menu {
        height: calc(100% - 64px);
        border-left: 1px solid $divider-color;
      }

      /* Main analytics panel */
      .analytics-main-panel {
        height: calc(100% - 64px);
        top: 64px;
      }
    }
  }
}
