@import '../../styles/guide-style.scss';

:host {
  display: block;
}

.container {
  kazoup-empty-state {
    position: relative;
    top: 160px;
  }

  neon-animated-pages {
    margin: 0 45px 0 45px;

    .chip-container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      height: 100%;
      overflow-y: scroll;
      max-width: 830px;
      margin: auto;

      .chip:first-child {
        margin-top: 60px;
      }

      .chip {
        cursor: pointer;
        display: inline-block;
        position: relative;
        margin: 4px;
        overflow: hidden;
        text-align: start;
        background-color: #fff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);

        .chip-top {
          width: 260px;
          height: 169px;

          .colour-header {
            height: 7px;
          }

          .background-icon {
            background-repeat: no-repeat;
            margin-top: 20px;
            height: 75px;
            width: 75px;
            opacity: 0.25;
          }

          .text {
            font-size: 21px;
            font-weight: 300;
            line-height: 3.5em;
            text-shadow: 0px 0px #000;
          }

          .sub-text {
            position: relative;
            font-weight: 900;
            top: 1px;
            left: 4px;
          }
        }

        .chip-bottom {
          padding: 16px;
          font-weight: 300;

          .chip-label-title {
            padding-bottom: 8px;
          }
        }
      }
    }

    .card {
      margin-top: 100px;
      text-align: start;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .heading {
        font-size: 16px;
        padding: 16px 8px 8px 16px;
        border-top: 1px solid rgba(0,0,0,0.08);

        .close {
          margin-top: -12px;
        }
      }

      paper-progress {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    neon-animated-pages {
      .chip-container {
        .chip {
          max-width: 230px;
          width: 96%;

          .chip-top {
            width: 100%;
          }
        }
      }
    }
  }
}

