@import '../../styles/guide-style.scss';

:host {
  display: block;
}

.container {
  kazoup-empty-state {
    position: relative;
    top: 72px;
  }

  iron-list {
    .row {
      min-height: 60px;
      border-bottom: 1px solid $divider-color;
    }

    .icon {
      display: flex;
      justify-content: center;

      iron-icon {
        align-self: center;
        margin: 0 21px;
        height: 28px;
        width: 28px;
      }
    }

    .data-source {
      h4 {
        padding: 0;
        margin: 8px 0;
        font-weight: 500;
        font-size: .95em;
        word-wrap: break-word;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: .85em;
        font-weight: 400;
        color: #6F757C;
        word-wrap: break-word;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      padding-right: 7px;

      paper-icon-button {
        align-self: center;
        opacity: 0.9;
        cursor: pointer;
      }

      span {
        align-self: center;
      }
    }
  }

  paper-fab {
    position: fixed !important;
    bottom: 16px;
    right: 16px;
    z-index: 9999;
  }
}

paper-dialog {
  max-width: 500px !important;

  h2,
  p,
  paper-button {
    color: #444;
  }

  paper-button {
    height: 40px;
    line-height: 40px;
  }

  paper-button[dialog-dismiss] {
    margin-left: 22px;
  }
}
