@import '../../styles/guide-style.scss';

:host {
  display: block;
}

:host::content .timestamp-container {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: .7em;
  position: absolute;
  right: 0;

  span {
    cursor: pointer;
  }

  span.selected {
    color: $accent-color;
    font-weight: bold;
  }
}

:host::content .bar_chart {
  padding: 0;
  margin:0;
  overflow: hidden;

  kazoup-empty-state {
    position: absolute;
    bottom: 0;
    max-height: 180px;

    ::content .container iron-icon {
      display: none;
    }
  }

  svg {
    .xlabel {
      font-size: 0.7em;
      opacity: 0.6;
    }

    .gridlines {
      shape-rendering: crispEdges;
    }

    .xaxis text,
    .yaxis text {
      font-size: 0.8em;
      fill: #999;
      stroke: none;
      shape-rendering: crispEdges;
    }

    .xaxis line,
    .yaxis line,
    .xaxis path.domain,
    .yaxis path.domain {
      stroke: none;
      fill-opacity: 0;
    }

    .switcher {
      text {
        shape-rendering: crispEdges;
      }

      circle.disabled {
        fill-opacity: 0;
      }
    }
  }
}




