@import '../../styles/guide-style.scss';

:host {
  display: block;
}

iron-list {
  overflow: visible;

  .row {
    min-height: 60px;
    border-bottom: 1px solid $divider-color;

    .box {
      iron-image {
        margin: 10px 16px;
        border-radius: 100%;
        height: 40px;
      }

      .info {
        padding-right: 10px;
        overflow: hidden;
        word-break: break-all;

        div {
          h4 {
            margin: 8px 0 5px;
            padding: 0;
            font-size: 1em;
            font-weight: 400;
            color: #191817;
          }

          p {
            margin: 0;
            font-size: .875em;
            font-weight: 400;
            color: #6F757C;
          }
        }
      }

      span {
        line-height: 60px;
      }
    }
  }

  paper-icon-button {
    width: 40px;
    opacity: 0.9;
    margin-top: 9px;
    margin-right: 8px;
  }
}

paper-fab {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

paper-dialog {
  max-width: 500px !important;

  h2,
  p,
  paper-button {
    color: #444;
  }

  paper-button {
    height: 40px;
    line-height: 40px;
  }

  paper-button[dialog-dismiss] {
    margin-left: 22px;
  }
}

@media (max-width: 600px) {
  iron-list {
    .row {
      .box {
        .info {
          div {
            display: flex;
            justify-content: center;

            h4 {
              align-self: center;
            }

            p.last-logon {
              display: none;
            }
          }
        }

        span.group-name {
          display: none;
        }
      }
    }
  }
}

