static/static
static/frontend
analytics/analytics
analytics/frontend
dashboard/dashboard
dashboard/frontend
search/search
search/frontend
settings/settings
settings/frontend
logs/logs
logs/frontend
docs/docs
docs/frontend
login/login
login/frontend
wizard/wizard
wizard/frontend
