@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: rgb(40, 40, 40);
  
  /* Smoother startup */
  animation: fadein 0.5s;
}
paper-icon-item {
    cursor: pointer;
}

mat-text-field mat-ink input,
mat-text-field mat-ink.label,
mat-text-field .underline mat-ink {
    color: #fff !important;
}

mat-text-field mat-ink.label {
    opacity: 0.7;
}

paper-icon-button[icon=menu] {
    margin-right: 18px !important;
}

mat-breadcrumb-step a {
    cursor: pointer;
}

mat-breadcrumb-step a mat-ink,
mat-breadcrumb-step mat-icon {
    color: #fff !important;
}

mat-item.light mat-ink {
    color: white;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.left-menu {
    background-image: url("https://lh3.googleusercontent.com/proxy/xm_1j45fU-DIHPPxZ7JUrkNcrP3Vt4g89c6EmJs9J-xRurCVcaDRka0Ds39IKpRYM3kKo36aSEjUtI9VMzODjpjA-LNQJ9nAPKRsk5_4AiYQkksM_1BYK90ijg=w506-h284"), radial-gradient(#ffb837 , #f13c0d );
}

.bottom {
    position: relative;
    bottom: 0;
}

.grid mat-avatar {
    margin: auto auto 36px auto;
    zoom: 2;
}

::-webkit-scrollbar {
    display: none;
}

.mat-breadcrumb-step-0 .anchor.mat-breadcrumb-step:after {
    height: 0;
}

#noFitBreadcrumbs .mat-item-0 .label.mat-item {
    font-size: 20px;
}

@media (min-width: 1281px) {
    .breadcrumbs {
        margin-left: 0 !important;
    }
}
