@import '../../styles/guide-style.scss';

:host {
  display: block;
}

:host::content #filtersPanel {
  .selectable-content.paper-menu::content > .iron-selected,
  .selectable-content.paper-menu::content > .iron-selected:before,
  .selectable-content.paper-menu::content > .iron-selected:focus,
  .selectable-content.paper-menu::content > .iron-selected:focus:after {
    font-weight: 600;
    background-color: #fff;
    color: $accent-color;
  }

  .draggies-container {
    height: 0;
    position: absolute;

    .draggable-item {
      border: 1px solid #1eb3da;
      height: 16px;
      width: 7px;
      margin: 10px;
      border-radius: 50%;
      background-color: #1eb3da;
      z-index: 9999;
      position: absolute;
      left: 0px;
      margin-left: 155px;

      span {
        color: #fff;
        font-size: 0.8em;
        display: block;
        margin-top: -13px;
      }
    }
  }

  div {
    padding: 0 5px;

    iron-icon {
      opacity: 0.65;
    }

    span {
      text-transform: uppercase;
      line-height: 40px;
      font-size: 0.9em;
      font-weight: 600;
      opacity: 0.9;
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }

  .divide-line {
    border-top: 1px solid $divider-color;
  }

  paper-menu {
    padding: 0;

    paper-item {
      min-height: 40px;
      height: 40px;
      color: #333;
      text-transform: uppercase;
      font-size: 0.78em;
      cursor: pointer;
    }

    paper-item[active] {
      font-weight: 600;
      background-color: #fff;
      color: $accent-color;
    }
  }
}
